body{
  display: inline-block;
}

div{
  border: 1px solid black;
}

header{
  margin: 20px;
  font-size: 30px;
}

.container{
  height: 550px;
  width: 825px;
  margin: 20px;
}


.sfComm{
  background: lightgreen;
  height: 30px;
  width: 825px;
  line-height: 30px;
  text-align: center;
}

.gameBoard{
height: 500px;
width: 500px;
float: left;
margin-top: 20px;
}

.gridWrapper{
  height: 450px;
  width: 480px;
  float: right;
  margin-top: 30px;
}

.gridSquare{
  display: inline-block;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin: 0px 0px 2px 2px;
  background: dodgerblue;
  vertical-align: top;
}

.black {
  background-color: black;
}

.scoreBox{
  float: right;
  width: 300px;
  margin-bottom: 30px;
  margin-top: 20px;
  vertical-align: top;
}

.turn{
  height: 20px;
  width: 60px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.name{
  height: 20px;
  width: 130px;
  display: inline-block;
  vertical-align: top;
}

.hits{
  height: 20px;
  width: 90px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.boats{
  height: 20px;
  width: 60px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}


.lfComm{
  float: right;
  width: 300px;
  height: 375px;
  margin-top: 30px;
}

.lfText{
  width: 280px;
  height: 300px;
  padding: 10px;
  display: inline-block;
  white-space: pre-wrap;
  line-height: 150%;
}

.inputBox{
  width: 280px;
  height: 300px;
  padding: 10px;
  display: none;
}

.lfButton{
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}
